body {
  background-color: #fafafa;
}

.bluePoli {
  background-color: #003576;
}

.orangePoli {
  background-color: #fc7a08;
}

.white {
  color: #ffffff;
}

.dragDropArea {
  border: dashed;
  border-width: 1px;
}

/*BEGINNING OF MEDIA QUERY INSERT PROPOSAL*/

.proposal-article{

  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.545);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out !important;

}

.MuiOutlinedInput-root {

  font-style: italic !important;
  font-weight: 100 !important;


}

.MuiInputBase-root{

  background-color: white !important;

}


@media only screen and (max-width: 1275px) {

  .MuiButtonBase-root{

    margin-right: 1vw !important;

  }
  
  .bi-exclamation-triangle{

    width: 12px;
    height: 12px;
    margin-top: 2.5px !important;


  }

  .MuiOutlinedInput-root {

    width: 20vw; 
    padding: 0px !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px !important;

  }

  
  .fade{

    width: 30% !important;

  }

}



@media only screen and (max-width: 768px) {

  .card.bg-light {
    width: 75vw !important;
  }

  article {
    max-width: 190px; 
  }
  .MuiOutlinedInput-root {

    width: 210px; 
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 16px !important;

  }
  .MuiButtonBase-root{

    margin-right: 1vw !important;

  }
  
  .fade{

    width: 30% !important;

  }

}


@media only screen and (max-width: 576px) {

  .card.bg-light {
    width: 75vw !important;
  }
  
  article {
    
    padding-left: 30px;
    padding-right: 30px;
  }

  .fade{

    width: 50% !important;

  }

 
  .MuiOutlinedInput-root {

    width: 130px; 
    height: 6vw;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 12px !important;

  }
  .MuiInputBase-input{

    font-size: 10px !important;


  }

  .MuiSvgIcon-root{

    width: 5vw !important;
    height: 5vw !important;
    padding-left: 2vw !important;
  }

  .text-center {
    font-size: 12px;
  }

  p,
  span {
    font-size: 12px;
  }

  textarea {
    max-height: 8vh;
    font-size: 9px !important;
  }

  textarea::placeholder {
    font-size: 9px;
  }

  .form-control {
    font-size: 12px;
  }


  #sendpb {
    width: 50% !important; 
    font-size: 8px !important;
  }
}

/*END OF MEDIA QUERY INSERT PROPOSAL*/

/*BEGINNING OF MEDIA QUERY INSERT PROPOSAL*/

@media only screen and (max-width: 910px) {


  .MuiOutlinedInput-root {

    width: 20vw; 
    height: 8vh;

    margin-left: auto;
    margin-right: auto;
    font-size: 13px !important;

  }

  .bi-exclamation-triangle{

    width: 10px;
    height: 10px;
    margin-top: 4px !important;


  }
  
  .fade{

    width: 30% !important;

  }

}



@media only screen and (max-width: 768px) {

  .card.bg-light {
    width: 75vw !important;
  }

  article {
    max-width: 190px; 
  }
  .MuiOutlinedInput-root {

    width: 60%; 
    height: 5vw;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 12px !important;

  }
  
  .bi-exclamation-triangle{

    width: 10px;
    height: 10px;
    margin-top: 4px !important;


  }
  
  .fade{

    width: 50% !important;

  }

}


@media only screen and (max-width: 576px) {

  .bi-exclamation-triangle{

    width: 10px;
    height: 10px;
    margin-top: 4px !important;


  }

  .card.bg-light {
    width: 75vw !important;
  }
  
  article {
    
    padding-left: 30px;
    padding-right: 30px;
  }

 
  .MuiOutlinedInput-root {

    width: 70%; 
    height: 8vw;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 12px !important;

  }

  .text-center {
    font-size: 12px;
  }

  p,
  span {
    font-size: 12px;
  }

  textarea {
    max-height: 8vh;
    font-size: 9px !important;
  }

  textarea::placeholder {
    font-size: 9px;
  }

  .form-control {
    font-size: 12px;
  }


  #sendpb {
    width: 100%; 
    font-size: 9px;
  }

  
  .fade{

    width: 50% !important;

  }

}

@media only screen and (max-width: 280px) {

  .MuiOutlinedInput-root {

    width: 95%; 
    height: 10vw;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 10px !important;

  }

  
  .fade{

    width: 80% !important;
    height: 5% !important;
    font-size: "5px" !important;

  }
  
  .bi-exclamation-triangle{

    width: 40px;
    height: 10px;
    margin-top: 4px !important;


  }


}

/*END OF MEDIA QUERY INSERT PROPOSAL*/

/* If the screen size is smaller than 1200px, set the font-size to 12px */
@media (max-width: 1199.98px) {
  td {
    font-size: 10px !important;
  }

  th {
    font-size: 10px !important;
  }

  * {
    font-size: 12px;
  }

}

@media (max-width: 999.9px){
  
  .icons 
  {
    width: 5vw ; 
    height: 5vw ;
    padding: 3px;
    font-size: 16px;
  }

  .advanced-filters-col
  {
    display: block !important;
    width: 100% !important;
  }
}

@media (min-width: 1000px){
  
  .icons 
  {
    width: 2vw ; 
    height: 2vw ;
    padding: 3px;
    font-size: 18px;
  }

  .advanced-filters-col
  {
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 0% !important; 
  }
}

.icons:hover
  {
    background-color:lightgrey;
  }
